  body {
  margin-bottom: 150px;
  background-color: #342f28;
  font-family: 'Shadows Into Light', cursive;
  color: #2e2e2e;
}

#top {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 90px;
  font-family: 'Ceviche One', cursive;
  font-size: 60px;
  font-weight: 900px;
  color: #6b5900;
  background: #361212;
  text-align: center;
  border-color: #fd4c00;
  text-shadow: 2px 2px #ababab;
}

.container {
  width: 80%;
}

#instruction {
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#userOne {
  width: 25%;
  float: left;
  height: 280px;
  border-radius: 8px;
  border: none;
  padding: 0px;
  margin-right: 20px;
  margin-left: 40px;
}

img {
  border-radius: 8px;
}

#giphy {
  width: 40%;
  float: left;
  margin-right: 20px;
  height: 280px;
  border-radius: 20px;
  background: cover;
  background-image: {
    background: url(“images/rust.png”);
    linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  }
}

#userTwo {
  width: 25%;
  float: left;
  text-align: center;
  height: 280px;
  border-radius: 8px;
  border: none;
  padding: 0px;
}

#thumbs {
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
}

.btn {
  background-color: #6b5900;
  border-color: #6b5900;
  color: #361212;
  padding: 5px 15px 5px 15px;
  font-size:  18px;
  font-weight: bold;
}

#name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #361212;
  padding: 3px 0px;
  font-weight: 900;
}

#chat {
  width: 600px;
  height: 150px;
  padding: 40px 100px;
  margin-top: 40px;
  margin-left: 210px;
}

div.top_menu {
  background-color: #361212;
}

div.title {
  font-family: 'Fugaz One', cursive;
  color: #ababab;
}

#chat-input {
  padding: 40px 120px;
  margin: auto;
  margin-top: -20px;
  background-color: #80796b;
  color: black;
  font-weight: bold;
  border-color: #80796b;
  margin-left: -50px;
}

#chat-send {
  background-color: #b88700;
  border-color: #b88700;
  color: #fff;
  border-radius: 8px;
  padding: 6px 30px;
  margin: auto;
  margin-top: 5px;
  margin-left: -20px;
  }


/*chatbox*/

/*div#message{
  background-color: #5e5e5e;
padding: 100px, 80px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;

}*/

h4{
  color: #6b5900;
  text-shadow: 2px 2px #ababab;
  font-size: 30px;
  }

#content{
  color: black;
}

#ara{
  position: center;
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  color: black;
  max-height: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding-bottom: 80px;
  padding: 100px, 80px;
  padding-right: 380px;
  padding-left: 380px;
}

.btn{
  background-color:#361212;
  border-color:#361212;
  color: #6b5900;
  margin-top: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold ;
}

.postt{
  background-color:#361212;
  border-color:#361212;
  color: #6b5900;
  margin-top: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold ;
  padding: 15px, 10px, 15px, 10px;
}
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: ##fb3765;
  }
